body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; 
  background-color: #f4f4f9;
  font-family: Arial, sans-serif;
  font-size: 18px; 
}

.container {
  width: 100%;
  max-width: 1400px; 
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.section h2 {
  margin-bottom: 20px;
  font-size: 2rem; 
  color: #333;
}


.items-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 20px; 
}

.item {
  width: 200px; 
  padding: 20px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}

.item.reserved {
  background-color: #ffecec;
  border-color: #ffcccc;
}

.item.available {
  background-color: #e8fff2;
  border-color: #b2f1c0;
}


button {
  background-color: #007bff;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


input {
  display: block;
  margin: 0 auto 30px; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  max-width: 600px; 
  font-size: 1.2rem;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.section.parking .items-container {
  justify-content: flex-start; 
}

.section.washers .items-container,
.section.dryers .items-container,
.section.drying-room .items-container {
  justify-content: center; 
}
